.Grandchild {
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: #f5af5a;
    margin: 2rem;
    padding-bottom: 2rem;
}

.Grandchild button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
    transition: all ease 0.4s;
}

.Grandchild button:hover {
    background-color: #f83715;
}

@media screen and (max-width: 768px) {
    .Grandchild button {
        padding: 0.3rem 1rem;
    }
}